html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #161616;
  color: #e4e4e4;
  font-family: 'Open Sans', sans-serif;
  flex-direction: column;
}

h1 {
  margin: 10px 0;
}

h2 {
  margin: 0;
  width: 300px;
}

a {
  color: white;
}

.social-links {
  margin: 10px 0;
  color: white;
  list-style: none;
  padding-left: 0px;
  font-size: 12px;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
}

.social-links a:hover {
  background-color: rgba(13, 133, 49, 0.242);
}

.kbbq {
  display: flex;
}

.kbbq .column {
  width: 200px;
}
